// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #00dada;
$secondary: #b8c7cf;
// $accent    : #9C27B0;

$dark: #051429;
// $dark-page : #121212;

// $positive  : #21BA45;
// $negative  : #C10015;
// $info      : #31CCEC;
// $warning   : #F2C037;

// COLORS
$midnight-blue: #020811;
$midnight-blue-opacity: #020811b7;

$deep-space-blue: #020c1b;
$deep-space-blue-opacity: #020c1b9a;

$twilight-blue: #051429;
$twilight-blue-opacity: #051429b7;

$frost-white: #b8c7cf;
$cloud-gray: #a9afb4;
$storm-gray: #203046;
$storm-gray-opacity: #203046b7;
$night-sky-gray: #091c36;
$night-sky-gray-opacity: #091c369a;

$turquoise-blast: #00dada;
$turquoise-blast-opacity: #00dadab7;

// FONTS
$font-mono: 'SpaceMono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
$font-sans: 'Roboto', sans-serif, Arial;

// SPACINGS

// ANIMATION
$transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
